.top-menu {
    height: 80px;
    background: #DD3D1F;
}

.top-menu a {
    color: #FFFFFF;
}

.top-menu__logo {
    height: 50px;
    padding: 15px 0;
    margin: 8px 0;
}

.top-menu__logo-image {
    max-height: 100%;
}

.top-menu__logo-text {
    font-size: 24px;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 10px;
}

.main {
    background: #DD3D1F;
    color: #FFFFFF;
}

.about {
    height: 587px;
    position: relative;
}

.about__flag {
    background: url("../images/flag.png") no-repeat center center;
    background-size: contain;
    min-height: 300px;
    height: calc(100% - 40px);
}

.about__flag-copyright {
    color: #BFBFBF;
    text-align: right;
}

.about ul {
    list-style: none;
}

.about ul li {

}
